html, body {
    height: 100%
}

body {
    background-color: #f5f5f5;
}

body > .wrapper {
    height: calc(100% - 73px);
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.auth-form {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

.form-info {
    max-width: 720px;
    padding: 15px;
}