html, body {
    height: 100%
}

body {
    background-color: #f5f5f5;
}

main {
    height: calc(100% - 73px);
    min-width: auto;
    padding: 40px 0;
}

#auth-form {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

#form-info {
    max-width: 720px;
    padding: 15px;
}

#create-token-name-input {
    text-align: center;
}